---
http_interactions:
- request:
    method: get
    uri: http://production.shippingapis.com/ShippingAPITest.dll?API=Verify&XML=%3CAddressValidateRequest+USERID%3D%27160MR0005918%27%3E%3CAddressID%3D%270%27%3E%3CAddress1%3E%3C%2FAddress1%3E%3CAddress2%3E6406+Ivy+Lane%3C%2FAddress2%3E%3CCity%3EGreenbelt%3C%2FCity%3E%3CState%3EMD%3C%2FState%3E%3CZip5%3E%3C%2FZip5%3E%3CZip4%3E%3C%2FZip4%3E%3C%2FAddress%3E%3C%2FAddressValidateRequest%3E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-backside-transport:
      - OK OK
      client-ip:
      - 73.95.254.218
      x-client-ip:
      - 56.0.70.6,56.0.70.6
      x-global-transaction-id:
      - cdcc55655c6b534b1276c891
      content-type:
      - text/xml
      ns-client-ip:
      - 73.95.254.218
      x-archived-client-ip:
      - 56.0.70.6
      ntcoent-length:
      - '215'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Number>80040B19</Number><Description>XML Syntax Error: Please check the XML request to see if it can be parsed.(B)</Description><Source>USPSCOM::DoAuth</Source></Error>
  recorded_at: Tue, 19 Feb 2019 00:52:22 GMT
recorded_with: VCR 4.0.0
